<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Danh sách sân</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <!-- Nhúng header từ fragments -->
    <div th:replace="header-user :: header"></div>
    
    <main>
        
        
        <h1 style="text-align: center;">DANH SÁCH HOẠT ĐỘNG</h1>
        <div th:if="${error}" class="alert alert-danger" role="alert" style="text-align: center; margin-bottom: 20px;">
            <p th:text="${error}"></p>
        </div>

        <!-- Hiển thị thông báo thành công -->
        <div th:if="${message}" class="alert alert-success" role="alert" style="text-align: center; margin-bottom: 20px;">
            <p th:text="${message}"></p>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Tên sân</th>
                    <th>Loại sân</th>
                    <th>Mô tả</th>
                    <th>Giá thuê (VND/giờ)</th>
                    <th>Hành động</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="field : ${fields}">
                    <td th:text="${field.name}"></td>
                    <td th:text="${field.type}"></td>
                    <td th:text="${field.description}"></td>
                    <td th:text="${field.pricePerHour}"></td>
                    <td>
                        <a th:href="@{/user/book/form/{id}(id=${field.id})}" class="btn">Đặt sân</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </main>
</body>
</html>
